{# templates/pollo_vivo/listar_proveedores.html #}
{% extends "base.html" %}

{% block content %}
<div class="acciones-header">
    <a href="{{ url_for('registrar_proveedor') }}" class="btn btn-secundario">Nuevo Proveedor</a>
</div>
{% if proveedores %}
    <div class="table-container"> {# <--- AÑADE ESTE DIV #}
        <table>
            <thead>
                <tr>
                    {# !--<th>ID</th>--> #}
                    <th>Nombre</th>
                    <th>Contacto</th>
                    <th>Datos de Pago</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    {# !--<td>{{ proveedor.id }}</td>--> #}
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.contacto if proveedor.contacto else '-' }}</td>
                    <td>{{ proveedor.datos_pago if proveedor.datos_pago else '-' }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('desactivar_proveedor', proveedor_id=proveedor.id) }}" style="display: inline;">
                            <button type="submit" class="btn btn-sm btn-primario btn-confirm-delete"
                                    data-provider-name="{{ proveedor.nombre }}">
                            Eliminar
                            </button>
                        </form>
                        {# <a href="{{ url_for('editar_proveedor', id=proveedor.id) }}" class="btn btn-secondary btn-sm">Editar</a> #}
                    </td>        
                </tr>        
                {% endfor         %}
            </tbody>
        </table>
    </div>
    <div class="acciones-footer">
            <a href="{{ url_for('listar_proveedores_archivados') }}" class="btn">Ver Archivados</a>
        </div>
{% else %}
<p>No hay proveedores registrados.</p>
{% endif %}
{% endblock %}